.featuredSection {
  /* border: 5px solid red; */
  overflow: hidden;
  height: 45vw;
  background-image: url("https://i.imgur.com/eqNQ5pE.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -85px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.featuredSection .title {
  font-family: kazimir, sans-serif;
  font-weight: 50;
  font-style: italic;
  font-size: 3vw;
  color: #19381f;
  background-color: white;
  padding: 25px 25px;
  width: fit-content;
  height: fit-content;
  outline: 1px solid black;
  outline-offset: -20px;
  border: 1px solid black;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  /* margin: 100px 0 0 45rem; */
  /* margin-left: 500px; */
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ----------- iPhone X ----------- */
/* ====================================== */
/* ====================================== */
/* ====================================== */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 833px) and (-webkit-min-device-pixel-ratio: 3) {
  .featuredSection {
    height: 400px;
    background-position: -80px -65px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 67px);
    /* width: 100vw; */
  }

  .featuredSection .title {
    font-size: 2.5vw;
  }
}
