/* section under featured section */

.textDivider {
  /* border: 5px solid blue; */
  background-color: #fae8eb;
  padding-top: 50px;
  font-family: kazimir, sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #36413e;
}

.textDividertag {
  /* border: 5px solid red; */
  background-color: white;
  padding: 0px 65px 0 20px;
  font-family: kazimir, sans-serif;
  font-weight: 450;
  font-style: italic;
  color: #36413e;
  width: 380px;
  margin: auto;
  font-size: 40px;
}

.individual-blog-wrapper {
  /* border: solid 3pt greenyellow; */
  width: 90%;
  margin: auto;
}

.featured-blog-section {
  display: flex;
  flex-direction: column;
  /* padding: 50px; */
}

.featuredBlogContainer,
.featuredBlogContainer2 {
  /* outline: solid 1px black; */
  display: grid;
  grid-template-columns: repeat(21, 38px);
  grid-template-rows: repeat(25, 25px);
  margin-top: 100px;
  width: 800px;
}

.featuredBlogContainer2 {
  float: right;
}

.mainImage,
.mainImage2 {
  /* display: grid; */
  height: 500px;
  width: 500px;
}

.mainImage {
  grid-column-start: 1;
  grid-column-end: 14;
}

.mainImage2 {
  grid-column-start: 9;
  grid-column-end: 39;
}

.outline,
.outline2 {
  outline: solid 3px #306b34;
  height: 500px;
  width: 500px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.outline {
  grid-column-start: 2;
  grid-column-end: 15;
}

.outline2 {
  grid-column-start: 8;
  grid-column-end: 29;
}

.featuredBlogTitle,
.featuredBlogTitle2 {
  background-color: #f9cfbc;
  color: #19381f;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-size: 40px;
  height: 120px;
  text-align: center;
  padding: 0 30px;
  width: 420px;
  grid-row-start: 3;
  grid-row-end: 10;
}

.featuredBlogTitle {
  grid-column-start: 13;
  grid-column-end: 18;
}

.featuredBlogTitle2 {
  grid-column-start: 1;
  grid-column-end: 26;
  margin-left: -120px;
}

.blogSummary,
.blogSummary2 {
  /* outline: solid 3px purple; */
  font-family: kazimir, sans-serif;
  height: 125px;
  text-align: justify;
  font-family: kazimir, sans-serif;
  font-weight: 50;
  font-style: italic;
  font-size: 16px;
  color: #7f7f7f;
  width: 350px;
  grid-row-start: 8;
  grid-row-end: 12;
  padding-top: 10px;
}

.blogSummary {
  grid-column-start: 16;
  grid-column-end: 26;
}

.blogSummary2 {
  margin-top: 10px;
  grid-column-start: 1;
  /* grid-column-end: 20; */
  grid-column-end: 26;
  margin-left: -130px;
  padding: 0px 30px;
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ----------- iPhone X ----------- */
/* ====================================== */
/* ====================================== */
/* ====================================== */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 833px) and (-webkit-min-device-pixel-ratio: 3) {
  .gridHeadingDivider {
    /* border: 5px solid blue; */
    padding: 0;
    margin: 0;
    margin-top: -40px;
  }

  .textDivider {
    padding: 0px 10px;
    font-size: 25px;
    margin: auto;
  }

  .textDividertag {
    padding: 0px 10px;
    text-align: center;
    width: max-content;
    font-size: 20px;
  }

  .individual-blog-wrapper {
    /* border: solid 3pt greenyellow; */
    width: 100%;
  }

  .featured-blog-section {
    padding: 0px;
  }

  .featuredBlogContainer,
  .featuredBlogContainer2 {
    /* outline: solid 1px black; */
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 25px);
    margin-top: 40px;
    width: 100%;
  }

  .featuredBlogContainer2 {
    margin-top: 0px;
  }

  .mainImage,
  .mainImage2 {
    height: 300px;
    width: 300px;
  }

  .mainImage {
    /* margin-top: -18px; */
    /* grid-column-start: 1;
    grid-column-end: 14; */
  }

  .mainImage2 {
    grid-column-start: 1;
    grid-column-end: 14;
  }

  .outline,
  .outline2 {
    grid-row-start: 4;
    grid-row-end: 5;
    outline: solid 1px #306b34;
    height: 300px;
    width: 300px;
    margin-top: -15px;
    margin-left: -12px;
    grid-column-start: 2;
    grid-column-end: 15;
  }

  .featuredBlogTitle,
  .featuredBlogTitle2 {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0;
    height: 37px;
    font-size: 18px;
    grid-column-start: 1;
    grid-column-end: 18;
    width: 250px;
    height: 53px;
    padding: 5px;
  }

  .featuredBlogTitle2 {
    margin-left: 0px;
  }

  .blogSummary,
  .blogSummary2 {
    width: 270px;
    grid-row-start: 15;
    grid-row-end: 18;
    font-size: 12px;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 15;
    margin-top: 20px;
  }

  /* .blogSummary {
    grid-column-start: 16;
    grid-column-end: 26;
  } */

  .blogSummary2 {
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    /* outline: solid 1px black; */
  }
}
/* Portrait */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
} */
/* Landscape */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
} */

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ----------- iPad Pro 10.5" ----------- */
/* ====================================== */
/* ====================================== */
/* ====================================== */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .featuredBlogContainer,
  .featuredBlogContainer2 {
    /* outline: solid 1px black; */
    grid-template-rows: repeat(17, 25px);
    width: 700px;
    margin-top: 50px;
  }

  .featuredBlogTitle,
  .featuredBlogTitle2 {
    font-weight: 300;
    font-size: 25px;
    height: 90px;
    width: 350px;
    grid-row-start: 3;
    grid-row-end: 10;
  }

  .featuredBlogTitle {
    grid-column-start: 8;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .featuredBlogTitle2 {
    grid-column-start: 4;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .mainImage,
  .mainImage2 {
    /* display: grid; */
    height: 350px;
    width: 350px;
    grid-row-start: 4;
    grid-row-end: 14;
  }

  .mainImage {
    grid-column-start: 1;
    grid-column-end: 14;
  }

  .mainImage2 {
    grid-column-start: 10;
    grid-column-end: 39;
  }

  .outline,
  .outline2 {
    height: 350px;
    width: 350px;
    grid-row-start: 3;
    grid-row-end: 12;
  }

  .outline {
    grid-column-start: 2;
    grid-column-end: 15;
    margin-top: 10px;
    margin-left: -22px;
  }

  .outline2 {
    grid-column-start: 9;
    grid-column-end: 29;
    margin-top: 10px;
    margin-left: 22px;
  }

  .blogSummary,
  .blogSummary2 {
    /* outline: solid 3px purple; */

    width: 280px;
    grid-row-start: 5;
    grid-row-end: 10;
    padding-top: 10px;
  }

  .blogSummary {
    grid-column-start: 11;
    grid-column-end: 26;
  }

  .blogSummary2 {
    grid-column-start: 4;

    grid-column-end: 26;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
} */

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* @media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
} */

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ----------- iPad Pro 12.9" ----------- */
/* ====================================== */
/* ====================================== */
/* ====================================== */

/* Portrait and Landscape */
/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
} */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
} */

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
} */
