.FeaturedBrands-wrapper {
  background-color: #fae8eb;
  margin: auto;
  padding-top: 100px;
}

/* Title section above pic */
.blogGridTitle {
  width: 600px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blogGridTitle h1 {
  font-family: kazimir, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #36413e;
  margin: 0px;
}

.blogGridTitle h2 {
  font-family: kazimir, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  text-align: right;
  color: #36413e;
  margin-top: -20px;
}

.blogGridTitleHighlight {
  background-color: white;
  height: 40px;
  margin-top: -80px;
  max-width: 465px;
  margin-left: auto;
}

/* Picture grid section */

.brands-wrapper {
  /* border: solid red 3pt; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  overflow: scroll;
  width: 95%;
  margin: auto;
  justify-items: center;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  vertical-align: auto;
}

.indBlogGrid {
  /* border: 2px solid brown; */
  /* display: flex;
  flex-flow: column; */
  display: grid;
  /* grid-template-columns: 160px; */
}

.blogImage {
  height: 300px;
  width: 300px;
}

.indBlogGrid h1 {
  /* border: 2px solid greenyellow; */
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  width: 300px;
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ----------- iPhone X ----------- */
/* ====================================== */
/* ====================================== */
/* ====================================== */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 833px) and (-webkit-min-device-pixel-ratio: 3) {
  .FeaturedBrands-wrapper {
    padding-top: 0px;
    display: grid;
  }

  /* Title section above pic */
  .blogGridTitle {
    width: 95%;
    height: auto;
  }

  .blogGridTitle h1 {
    font-size: 22px;
    margin-top: -10px;
  }

  .blogGridTitle h2 {
    font-size: 16px;
    margin-top: -80px;
  }

  .blogGridTitleHighlight {
    margin-top: -33px;
    height: 17px;
    width: 195px;
  }

  /* Picture grid section */
  .brands-wrapper {
    margin-top: 10px;
  }

  .indBlogGrid {
    /* border: 2px solid brown; */

  }

  .blogImage {
    height: 150px;
    width: 150px;
  }

  .indBlogGrid h1 {
    font-size: 14px;
    width: 150px;
  }
}