.FeaturedBrands-wrapper {
  background-color: #fae8eb;
  margin: auto;
  padding-top: 100px;
}

/* Title section above pic */
.blogGridTitle {
  width: 600px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blogGridTitle h1 {
  font-family: kazimir, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #36413e;
  margin: 0px;
}

.blogGridTitle h2 {
  font-family: kazimir, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  text-align: right;
  color: #36413e;
  margin-top: -20px;
}

.blogGridTitleHighlight {
  background-color: white;
  height: 40px;
  margin-top: -80px;
  max-width: 465px;
  margin-left: auto;
}

/* Picture grid section */
.blogGrid {
  /* border: solid red 3pt; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  overflow: scroll;
  width: 95%;
  margin: auto;
  justify-items: center;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  vertical-align: auto;

  margin-top: 30px;
}

.indBlogGrid {
  /* border: 2px solid brown; */
  display: flex;
  flex-flow: column;
}

.blogImage {
  height: 300px;
  width: 300px;
}

.indBlogGrid h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  text-align: center;
}
