/* 

<div className='featuredSection'>
<img src={main} />
<h1>Sustainable Fashion Movement</h1>

<div className='headerHighlight'></div>
<div className='headerOutline'></div>
</div> 
*/

.featuredBlog {
  background-color: #fae8eb;
}

/* Section undr header */

.featuredSection {
  /* border: 5px solid red; */
  /* display: flex; */
  /* max-height: 900px; */
  overflow: hidden;
  position: relative;
}

.featuredSection img {
  width: fit-content;
  max-height: auto;
  display: block;
  /* margin-right: -20px; */

  margin-bottom: -150px;
  margin-top: -140px;
}

.featuredSection .underline {
  position: absolute;
  top: 40px;
  right: 15px;

  border-bottom: 10px solid red;
}

.featuredSection .headerOutline {
  outline: black solid 2px;

  position: absolute;
  top: 90px;
  right: 125px;

  width: 610px;
  height: 140px;
}

.featuredSection .title {
  position: absolute;
  top: 120px;
  right: 110px;
  text-decoration: underline;

  font-family: kazimir, sans-serif;
  font-weight: 50;
  font-style: italic;
  font-size: 40px;
  color: #19381f;
  background-color: white;
  padding: 5px 50px 40px;
}
